# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Packages, APIs, Datasets and Models
* Introduction to Jupyter Notebooks
* Introduction to R and RStudio

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL

## Author
Chanaput

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* Scikit-learn

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335